<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/quiz/public/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Quiz</h1>
    <p>Welcome to Quiz</p>
	<p> El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
